# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore DB sql file
_db/dagris_db.sql

# Ignore PHPStorm Project files
.idea/
